<div class="row">
  <div class="col-xs-12">
    <h1>Subject Name</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary dropdown-toggle" type="button">
      Manage Subjects <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
      <li><a href="#">Edit Subject</a></li>
      <li><a href="#">Delete Subject</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    Credits
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    Description
  </div>
</div>
